<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIITV-ICD Placement</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>

<body class="form-body">
    <a href="/placement-portal" class="logout"><button>> Back</button></a>
    <div class="form-container">
        <div class="form-wrapper">
            <form action="/admin-login" method="POST" class="form">
                <div class="form-heading">
                    <h2>Admin Sign In</h2>
                </div>
                <div class="form-details">
                    <input type="text" id="username" name="username" placeholder="Username">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <button>Proceed</button>

                </div>
            </form>
        </div>
        <dotlottie-player src="https://lottie.host/75ea3749-991c-4843-860c-bc23cfada5bc/dk5Q4waXow.json" background="transparent" speed="1" style="width: 600px; height: 600px" direction="1" mode="normal" loop autoplay></dotlottie-player>
    </div>
</body>

</html>