<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    <header class="head">
        <nav class="nav">
            <ul>
                <li class="students-link" id="studentsLink">
                    <p class="p">Manage Recruiters</p>
                    <div class="students-drop-down" id="students-drop-down">
                        <a href="/register-recruiter">Add Recruiter</a>
                        <a href="/delete-recruiter">Delete Recruiter</a>
                    </div>
                </li>
                    <li class="students-link" id="recruitersLink">
                    <p class="p">Manage Students</p>
                    <div class="students-drop-down">
                        <a href="/register-student">Add Student</a>
                        <a href="/delete-student">Delete Student</a>
                    </div>
                </li>
                <li><a href="">Manage Homepage</a></li>
                
            </ul>
        </nav>
        <a href="/admin-dashboard"><button>Log Out</button></a>
    </header>
    <div id="all-recruiters">

    </div>

    <script src="/js/allrecruiters.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>