<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIITV-ICD Placement Portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body>
    <header class="head">
        <nav class="nav student-nav">
            <ul>
                <li><a href="">Profile</a></li>
                <li><a href="/explore-jobs">Jobs</a></li>
                <li><a href="">Resources</a></li>
            </ul>
        </nav>
        <a href="/student-dashboard"><button>> Back</button></a>
    </header>

    <div id="explore-all-jobs">

    </div>



    <script src="/js/explore.js"></script>
</body>
</html>