<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Placement Cell</title>
  <link rel="stylesheet" type='text/css' href="/css/style.css">
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>

<body>
  <header class="header">
    <a href="">
      <div class="imgDiv"><img src="/img/institute-logo.png" alt="">
        <p>IIIT Vadodara International Campus Diu</p>
      </div>
    </a>


    <nav class="navbar" id="navbarMenu">
      <ul>
        <li>
          <a class="homeIcon" href="/">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/wmwqvixz.json"
    trigger="hover"
    colors="primary:#000"
    target="a"
    style="width:20px;height:20px">
    
</lord-icon>
            Home
          </a>
        
        </li>
        <li class="students-link" id="studentsLink">
          <p class="p">For Students</p>
          <div class="students-drop-down" id="studentsDropDown">
            <a href="">Students Resources</a>
            <a href="">Useful Links</a>
            <a href="">Placement Rules For Students</a>
            <a href="">Schedule</a>
            <a href="">FAQs</a>
          </div>
        </li>
        <li class="students-link" id="recruitersLink">
          <p class="p">For Recruiters</p>
          <div class="students-drop-down">
            <a href="">Placement Process</a>
            <a href="">Student Availability</a>
            <a href="">Recruiter FAQs</a>
          </div>
        </li>
        <li><a href="/placement-portal">Placement Portal</a></li>
        <li>
          <a href="" class="homeIcon">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/srsgifqc.json"
    trigger="hover"
    target="a"
    style="width:20px;height:20px">
</lord-icon>
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <div class="login-toggler">
      <button class="navbar-toggler" onclick="toggleMenu()">
        <span class="menu-icon">&#9776;</span>
      </button>
    </div>
  </header>

  <div class="wrapper">
    <div class="notice">
      <strong>Important Notes!</strong>
    </div>
    <div class="updates">
      <div class="news">
        <div class="icon"><dotlottie-player
            src="https://lottie.host/9e2ebe15-6ee4-4c21-a4b6-8ac5110a6fef/RuhvIx6lUJ.json" background="transparent"
            speed="1" style="width: 100px; height: 100px" direction="1" mode="normal" loop autoplay></dotlottie-player>
        </div>
        <h2>NEWS AND UPDATES</h2>
        <div class="textBox">
          <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed velit culpa aut veritatis quod
            distinctio vel, tempora odio aperiam, ratione ut repellendus eaque neque fugiat minus <br><br><br>quisquam
            ipsum similique. Iusto! <br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            incidunt maxime voluptas omnis ducimus praesentium vitae inventore assumenda itaque dignissimos hic
            voluptates perspiciatis atque. </p>
        </div>
      </div>
      <div class="industry">
        <div class="icon"><dotlottie-player
            src="https://lottie.host/5b01d0b1-c520-4fa7-99b8-9839239155a9/zg78BsUYBA.json" background="transparent"
            speed=".5" style="width: 100px; height: 100px" direction="1" mode="normal" loop autoplay></dotlottie-player>
        </div>
        <h2>INDUSTRY SIGN IN</h2>
        <div class="textBox2">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, ex? Quam sed et voluptatum mollitia
            porro alias neque voluptate provident quasi aperiam adipisci totam a, nam nesciunt doloribus est
            necessitatibus?</p>
        </div>
        <a href="/recruiter-login" id="industrySignIn">Sign In</a>
      </div>
      <div class="students">
        <div class="icon"><dotlottie-player
            src="https://lottie.host/36c6108d-fb95-4e9f-8ac6-5c82784f8d20/gBqV0z2owo.json" background="transparent"
            speed="1" style="width: 100px; height: 100px" direction="1" mode="normal" loop autoplay></dotlottie-player>
        </div>
        <h2>STUDENTS SIGN IN</h2>
        <div class="textBox2">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, ex? Quam sed et voluptatum mollitia
            porro alias neque voluptate provident quasi aperiam adipisci totam a, nam nesciunt doloribus est
            necessitatibus?</p>
        </div>
        <a href="/student-login" id="studentsSignIn">Sign In</a>
      </div>
    </div>

    <h2>OUR RECRUITERS</h2>
    <img src="img/recruiters.png" alt="">

    <footer>
      <div class="leftFooter">
        <p>@IIITV-ICD</p>
        <p>WRITE US AT diu@iiitvadodara.ac.in</p>
        <p>VISIT US @ <br> Education Hub, Kevdi, Dadra Nagar Haveli, Daman & Diu, Diu Gujarat -362567</p>
      </div>
      <div class="rightFooter">
        <div class="social-media-links">
          <a href=""><lottie-player src="https://lottie.host/0e021a08-68ff-47fb-9e6c-3842127584a6/Qn9Nko8xuM.json"
              background="" speed="1" style="width: 45px; height: 45px" direction="1" mode="normal"
              hover></lottie-player></a>
        </div>
      </div>
    </footer>

  </div>

  <script src="index.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>