<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Portal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header class="header">
    <a href="">
      <div class="imgDiv"><img src="/img/institute-logo.png" alt="">
        <p>IIIT Vadodara International Campus Diu</p>
      </div>
    </a>


    <nav class="navbar" id="navbarMenu">
      <ul>
        <li>
          <a class="homeIcon" href="/">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/wmwqvixz.json"
    trigger="hover"
    colors="primary:#000"
    target="a"
    style="width:20px;height:20px">
    
</lord-icon>
            Home
          </a>
        </li>
        <li class="students-link" id="studentsLink">
          <a >For Students</a>
          <div class="students-drop-down" id="studentsDropDown">
            <a href="">Students Resources</a>
            <a href="">Useful Links</a>
            <a href="">Placement Rules For Students</a>
            <a href="">Schedule</a>
            <a href="">FAQs</a>
          </div>
        </li>
        <li class="students-link" id="recruitersLink">
          <a>For Recruiters</a>
          <div class="students-drop-down">
            <a href="">Placement Process</a>
            <a href="">Student Availability</a>
            <a href="">Recruiter FAQs</a>
          </div>
        </li>
        <li><a href="/placement-portal">Placement Portal</a></li>
        <li>
          <a href="" class="homeIcon">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/srsgifqc.json"
    trigger="hover"
    target="a"
    style="width:20px;height:20px">
</lord-icon>
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <div class="login-toggler">
      <button class="navbar-toggler" onclick="toggleMenu()">
        <span class="menu-icon">&#9776;</span>
      </button>
    </div>
  </header>

    <div class="heading">
        <h2>PLACEMENT PORTAL</h2>  <!--place lottie icon-->
    </div>

    <div class="instructions">
        <div class="forRecruiters">
            <h2>For Admin</h2>
            <li class="admin-login"><a href="/admin-login"  id="studentsSignIn">Admin Login</a></li>
        </div>
        <div class="forRecruiters">
            <h2>INSTRUCTIONS FOR RECRUITERS</h2>
            <ul>
                <li>Companies interested to participate in campus placements at IIITV-ICD, please write at placement.diu@iiitvadodara.ac.in</li>
                <li>Company Name, Contact Person Name/ Designation/ Email and Phone number to be shared in email to get the sign in credentials for IIITV-ICD portal. Log in credentials will be sent both as sms and email.</li>
                <li>One company can post multiple job or internship opportunities after <a href="/recruiter-login" id="studentsSignIn">Sign In</a>.</li>
                <li>While announcing the jobs at this portal, please fill in the information requested for in the portal. If their is any specification with respect to the departments to be addressed for the recruitment, please mention in the Job description document as an additional file. You will be able to attach files for additional details.</li>
                <li>Student profiles will be visible to recruiters only after students specifically apply for the job/ internship position.</li>
            </ul>
        </div>
        <div class="forStudents">
            <h2>INSTRUCTIONS FOR STUDENTS</h2>
            <ul>
                <li>Students need to share their interest to participate in campus placements in pre-registration form circulated by IIITV-ICD or by sending an expression of interest email to placement.occap@iisc.ac.in</li>
                <li>Students will receive login credentials on their IIITV-ICD email id.</li>
                <li>Students must signup and complete their profile as per timelines. Please use  <a href="/student-login" id="studentsSignIn">Sign In</a> in to apply for jobs/ internships. You will also get notifications of IIITV-ICD events.</li>
            </ul>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>