<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIITV-ICD placement portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body>
    <header class="head">
        <nav class="nav">
            <ul>
                <li class="students-link" id="studentsLink">
                    <p class="p" >Post Jobs</p>
                    <div class="students-drop-down" id="students-drop-down">
                        <a href="/post-jobs">Post New Job</a>
                        <a href="/posted-jobs">Posted Jobs</a>
                      </div>
                </li>
                <li><a href="/job-applications">Applications</a></li>
                <li><a href="/student-profiles">Student Profiles</a></li>
            </ul>
        </nav>
        <a href="/placement-portal"><button>Log Out</button></a>
    </header>

    <div class="div-content">
        <h2>Reach new heights with your recruiting.</h2>
        <dotlottie-player src="https://lottie.host/5e90db54-a226-4624-9308-1862fe093307/7Lf56C2IHq.json" background="transparent" speed=".5" style="width: 600px; height: 600px" direction="1" mode="normal" loop autoplay></dotlottie-player>
    </div>

    <footer>
        <div class="leftFooter">
          <p>@IIITV-ICD</p>
          <p>WRITE US AT diu@iiitvadodara.ac.in</p>
          <p>VISIT US @ <br> Education Hub, Kevdi, Dadra Nagar Haveli, Daman & Diu, Diu Gujarat -362567</p>
        </div>
        <div class="rightFooter">
          <div class="social-media-links">
            <a href=""><lottie-player src="https://lottie.host/0e021a08-68ff-47fb-9e6c-3842127584a6/Qn9Nko8xuM.json"
                background="" speed="1" style="width: 45px; height: 45px" direction="1" mode="normal"
                hover></lottie-player></a>
          </div>
        </div>
      </footer>
      <script src="/js/script2.js"></script>
</body>
</html>