<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIITV-ICD Placement Portal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="head">
        <nav class="nav">
            <ul>
                <li class="students-link" id="studentsLink">
                    <p class="p" >Post Jobs</p>
                    <div class="students-drop-down">
                        <a href="/post-jobs">Post New Job</a>
                        <a href="/posted-jobs">Posted Jobs</a>
                      </div>
                </li>
                <li><a href="/job-applications">Applications</a></li>
                <li><a href="/student-profiles">Student Profiles</a></li>
            </ul>
        </nav>
        <a href="/recruiter-dashboard"><button>> back</button></a>
    </header>
    <div id="all-profiles">

    </div>




    <script src="/js/allprofiles.js"></script>
    <script src="/js/script2.js"></script>
</body> 
</html>