<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIITV-ICD Placement Portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body>
    <header class="head">
        <nav class="nav student-nav">
            <ul>
                <li><a href="">Profile</a></li>
                <li><a href="/explore-jobs">Jobs</a></li>
                <li><a href="">Resources</a></li>
            </ul>
        </nav>
        <a href="/placement-portal"><button>Log Out</button></a>
    </header>

    <div class="div-content div-content2">
        <h2>Explore Opportunities, Ignite Your Career.</h2>
        <dotlottie-player src="https://lottie.host/c7501e71-626d-42aa-88b5-adcbe059b477/zlfOKRN9Vd.json" background="transparent" speed="1" style="width: 600px; height: 600px" direction="1" mode="normal" loop autoplay></dotlottie-player>
    </div>

    
</body>
</html>