<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIITV-ICD Placement</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body class="form-body">
    <a href="/placement-portal" class="logout"><button>> Back</button></a>
    <div class="form-container">
        <div class="form-wrapper">
            <form action="/student-login" method="POST" class="form">
                <div class="form-heading">
                    <h2>Student Sign In</h2>
                </div>
                <div class="form-details">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button>Proceed</button>
                    
                </div>
            </form>
        </div>
        <dotlottie-player src="https://lottie.host/533c5837-30fc-4542-97bb-f33e0b401658/z4rVMKG2Vs.json" background="transparent" speed=".8" style="width: 600px; height: 400px" direction="1" mode="normal" loop autoplay></dotlottie-player>
    </div>
</body>
</html>